// COLORS //
$color-primary:#574D68;
$color-secondary:#A38560;
$color-tertiary:#C6A15B;
$font-color: #fff;

// FONTS //
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300&display=swap');

$font-primary:'Oswald', sans-serif;
$font-secondary:'Anton', sans-serif;

// BORDER //
$b-radius: 6px;


// SHADOW //
$b-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5);