// COLORS //
$color-primary:#0F084B;
$color-secondary:#26408B;
$color-tertiary:#A6CFD5;
$font-color: #fff;

// FONTS //
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto:ital,wght@1,300&display=swap');

$font-primary:'Roboto', sans-serif;
$font-secondary:'Gemunu Libre', sans-serif;

// BORDER //
$b-radius: 0;


// SHADOW //
$b-shadow: -10px 10px 6px rgba(0, 0, 0, 0.5);