.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 300px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px 0 rgba(123, 31, 162, 0.3);
  color: #7b1fa2;
}

.card__title {
  text-align: center;
  margin-bottom: 1rem;
}

.error {
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-label {
  color: #7b1fa2;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #7b1fa2;
}
